/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



	body {background-color: #f6f6f6; font-family: avenir; font-size: 12px;}
	.hidden { display: none; }
	.well { margin-top: 50px; background-color: #fff; line-height: 50px;}
	.menu { width: 220px; position: relative; z-index: 20; box-shadow: 11px 0px 10px 5px rgba(0,0,0,0.3); height: 100%; }
	.content-header, .content-body { padding: 25px; }	
	.content-header { border-bottom: 1px solid #ccc; box-shadow: 0 2px 2px rgba(0,0,0,0.3); position: relative; z-index: 10; }
	.content-header h1 {padding-left: 0px; font-size: 2em; margin-bottom: 0px; margin-top: 0px; color: #555; }
	
	.content-body { background: #fff; position: relative; z-index: 0; }

	h1, h2, h3, h4, h5, h6 {
		margin: 10px 0;
		font-family: "avenir",helvetica,sans-serif,times,sans-serif;
		font-style: normal;
/*		font-weight: 700;	*/
		margin-top: 0;
		color: #2c3e50;
		vertical-align: baseline;
	}

	h1 {
		font-size: 2em;
		font-weight: 500;
		letter-spacing: 1px;
		line-height: 36px;
		margin-bottom: 12px;		
	}
	
	h3 { font-size: 1.3em; }
	
	
	
	