// Place all the styles related to the CustomerDiscovery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


	h2 { margin: 0; }
	.dimGroupName { text-transform: uppercase; font-size: 18px; fill: #ccc; }
	.dimension-name { fill: #12A7E0; font-size: 14px; }
	.header { background: #7adeff; }
	.goal { margin-top: 25px; }
	.rowBG { stroke: #ddd; stroke-width: 1px; shape-rendering: crispEdges;}
	.ideal-box { fill: #7adeff; opacity: 0.1;}
	.indivRowSeparator { shape-rendering: crispEdges; }
 
/* https://github.com/Caged/d3-tip/blob/master/examples/example-styles.css */

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(255, 255, 255, 0.8);
  color: #777;
  border-radius: 2px;
  border: 1px solid #d3d3d3;
  stroke: #d3d3d3;
  stroke-width: 1px;
  pointer-events: none;
  box-shadow: 2px 1px 1px rgba(0,0,0,0.2);
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
  stroke: #d3d3d3;
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
